<a href="https://colab.research.google.com/github/kavithachitriki/UPGRAD_PRACTICE/blob/main/Upgrad_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Student():
    
    marks1points=0
    marks2points=0

    def __init__(self, marks1,marks2,credits1, credits2):
        #YOUR CODE GOES HERE
        self.marks1=marks1
        self.marks2=marks2
        self.credits1=credits1
        self.credits2=credits2
    
    def grade_point_average(self):
        
        if(self.marks1>=90):
            marks1points=10
        elif (self.marks1<90 and self.marks1>=75):
            marks1points=9
        elif (self.marks1<75 and self.marks1>=60):
            marks1points=8
        elif (self.marks1<60 and self.marks1>=45):
            marks1points=7
        print(marks1points)
        if(self.marks2>=90):
            marks2points=10
        elif(self.marks2<90 and self.marks2>=75):
            marks2points=9
        elif(self.marks2<75 and self.marks2>=60):
            marks2points=8
        elif(self.marks2<60 and self.marks2>=45):
            marks2points=7
        print(marks2points)
        #YOUR CODE GOES HERE
        print(((marks1points*self.credits1)+(marks2points*self.credits2)))
        gpa=((marks1points*self.credits1)+(marks2points*self.credits2))/(self.credits1+self.credits2)
    
        return round(gpa,2)

stu = Student(85, 76, 3, 4)
print(stu.grade_point_average())

9
9
63
9.0

In [ ]:
63/7

9.0

In [ ]:
squares = map(lambda x:x*x,numbers)

In [ ]:

    
scores=[85, 76, 3, 4]
passing = list(filter(lambda score:score>80, scores))
print(passing)

[85]

In [ ]:
from functools import reduce
scores=[85, 76, 3, 4]
prod=1
passing=reduce(lambda x, y: x * y, scores, 1)
print(passing)

0

In [ ]:
from functools import reduce 
def func(integers, names, numbers):
    '''
    input:
    integers -> list of integers to perform the square operation on
    names -> list of names to filter out as per the condition
    numbers -> list of numbers whose product we want
    
    output:
    map_result -> output of integers list
    filter_result -> output of the names lsit
    reduce_result -> output of the numbers list
    '''
    map_result, filter_result, reduce_result = None, None, None
    
    # Your code stars here
    map_result = list(map(lambda x:x*x,integers))
    filter_result=list(filter(lambda name:len(name)<=7, names))
    reduce_result=reduce(lambda x, y: x * y, numbers, 1)
    
    
    return map_result, filter_result, reduce_result


sqr=[4, 6, 3, 9, 2 , 8 ,12]
nam=["scaler", "interviewbit", "rishabh", "student", "course"]
nums=[4 , 6,  9,  23, 5]

func(sqr,nam,nums)

([16, 36, 9, 81, 4, 64, 144],
 ['scaler', 'rishabh', 'student', 'course'],
 24840)

In [ ]:
def Selection(arr):
    n=len(arr)
    # One by one move boundary of unsorted subarray
    for i in range(n):
        min_index = i
        min_str = arr[i]
         
        # Find the minimum element in unsorted subarray
        for j in range(i+1,n):
             
            # If min_str is greater than arr[j]
            if min_str>arr[j]:
                 
                # Make arr[j] as min_str and update min_index as j
                min_str = arr[j]
                min_index = j
                 
        # Swap the found minimum element with the first element      
        if min_index != i:
             
            # Store the first element in temp
            temp = arr[i]
             
            # Place the min element at the first position
            arr[i] = arr[min_index]
             
            # place the element in temp at min_index
            arr[min_index] = temp
      
    # Return the sorted array
    return arr
arr=["alpha","beta","alvin","gamma"]
print(Selection(arr))

['alpha', 'alvin', 'beta', 'gamma']

In [ ]:
class Student():
    
    marks1points=0
    marks2points=0

    def __init__(self, marks1,marks2,credits1, credits2):
        #YOUR CODE GOES HERE
        self.marks1=marks1
        self.marks2=marks2
        self.credits1=credits1
        self.credits2=credits2
    
    def grade_point_average(self):
        
        if self.credits1==0 and self.credits2==0:
            return "Zero credits for both subject"
        
        if(self.marks1>=90):
            marks1points=10
        elif (self.marks1<90 and self.marks1>=75):
            marks1points=9
        elif (self.marks1<75 and self.marks1>=60):
            marks1points=8
        elif (self.marks1<60 and self.marks1>=45):
            marks1points=7
        else:
            marks1points=0
        
        if(self.marks2>=90):
            marks2points=10
        elif(self.marks2<90 and self.marks2>=75):
            marks2points=9
        elif(self.marks2<75 and self.marks2>=60):
            marks2points=8
        elif(self.marks2<60 and self.marks2>=45):
            marks2points=7
        else:
            marks2points=0

        #YOUR CODE GOES HERE
        gpa=round(((float(marks1points)*float(self.credits1))+(float(marks2points)*float(self.credits2)))/(float(self.credits1)+float(self.credits2)),2)
    
        return gpa


stu = Student(35,92,4,5)
print(stu.grade_point_average())

5.56

In [ ]:
import pandas as pd
marks = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/VodvGKvJAaeNrG7kvOQV38aog/class-grades.csv')

marks.drop(marks[marks.isnull().sum(axis=1)==5].index,axis=0,inplace=True)

#Type your code here to remove rows with missing value equal to 5
marks.isnull().sum()

Prefix         0
Assignment     0
Tutorial      10
Midterm       14
TakeHome       7
Final          3
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
customer = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/9B2ZPE1apMvqrLWx7p8ge9dqX/cust_dimen.csv')

customer['Cust_id'] =customer['Cust_id'] = np.where(customer['Cust_id'] , customer['Cust_id'].str.replace('Cust_',""), customer['Cust_id'])
print(customer.head(10))

        Customer_Name Province   Region Customer_Segment Cust_id
0  MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS       1
1        BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER       2
2       CLAY ROZENDAL  NUNAVUT  NUNAVUT        CORPORATE       3
3      CARLOS SOLTERO  NUNAVUT  NUNAVUT         CONSUMER       4
4        CARL JACKSON  NUNAVUT  NUNAVUT        CORPORATE       5
5      MONICA FEDERLE  NUNAVUT  NUNAVUT        CORPORATE       6
6     DOROTHY BADDERS  NUNAVUT  NUNAVUT      HOME OFFICE       7
7     NEOLA SCHNEIDER  NUNAVUT  NUNAVUT      HOME OFFICE       8
8         CARLOS DALY  NUNAVUT  NUNAVUT      HOME OFFICE       9
9       CLAUDIA MINER  NUNAVUT  NUNAVUT   SMALL BUSINESS      10